/* Registration Form */

#registration
{
    input[type=text], input[type=password]
    {
        font-size: 14px;
        margin-top: 15px;

        &:focus { background-color: #f0f9ff; }
    }

    input[type=radio], input[type=checkbox] { margin-right: 3px; }

    select
    {
        width: 250px;
        margin-left: 3px;
    }

    label.error { margin-top: 3px; }

    .instructions { font-weight: bold; }
}
