/* Registration Form */

#registration
{
    input[type=text], input[type=password], textarea
    {
        font-size: 14px;
        margin-top: 15px;

        &:focus { background-color: #f0f9ff; }
    }

    input[type=radio], input[type=checkbox] { margin-right: 3px; }

    select
    {
        font-size: 13px;
        background-color: #fff;
        color: #666;
        border: 1px solid #ccc;
        margin-left: 3px;
    }

    .contact-select select
    {
        margin-top: 15px;
        width:300px;
        margin-left: 0px;
    }

    label.error { margin-top: 3px; }

    .instructions { font-weight: bold; }
}
