{% extends "base_auth.html" %}

{% block title %} About Conference Management System {% endblock title %}

{% block content %}
    <h2> Learn More About CMS </h2>
    <p> Hi there! We're glad you're interested in learning more about CMS.</p>
    <a class="nav" href="/login"> &larr; Back to Login</a>
    <h3> About the Creators </h3>
        <p>CMS was created by Kunal Mehta and William Chieng, two 3rd-year Cal Computer Science undergraduates. Their hobbies including writing code and kicking ass.</p>
    <h3> Our Tools </h3>
        <p> We used a lot of great tools to put this app together. Check them out below:</p>
        <ul>
            <li><a href="http://www.djangoproject.org">Django</a> - An open-source web development framework written in Python that makes building web applications simple.</li>
            <li><a href="http://www.jquery.com">jQuery</a> - An API built on top of JavaScript that makes writing rich, interactive, cross-browser web pages a breeze. "Write less, do more!"</li>
            <li><a href="http://www.python.org">Python</a> - An interactive programming language that stresses readability and ease of use. And having a more awesome name than any language out there.</li>
            <li><a href="http://subversion.apache.org">Subversion</a> - A version-control system designed to save us from ourselves. SVN makes it easy to keep track of your changes and revert back to an older version when you (inevitably) screw up.</li>
            <li><a href="http://apache.org">Apache</a> - Faithfully serves the app to you every time you ask, without asking a thing in return. The most noble web server there is!</li>
            <li><a href="http://nginx.org">Nginx</a> - Serves static content at blazing speeds! You won't know what hit you when the images and styles explode out of the screen.</li>
        </ul>
    
    <h3> Special Thanks </h3>
        <p> We want to give a shout-out to the following resources, which were incredibly helpful and without which we may not have been able to complete CMS.</p>
        <ul>
            <li><a href="http://www.stackoverflow.com">Stack Overflow</a> - The ultimate programming question/answer forum, created for programmers by programmers.</li>
            <li><a href="http://bassistance.de/jquery-plugins/jquery-plugin-validation/">Validation Plugin</a> - A simple clientside form validation solution that offers both simplicity and flexibility.</li>
            <li><a href="http://benalman.com/projects/jquery-hashchange-plugin/">Hash Change Plugin</a> - So your browser's back button isn't stuck on the same page. ;]</li>
            <li><a href="http://nsreekanth.blogspot.com/2010/12/simple-jquery-plugin-to-validate-format.html">Sreekanth Narayanan's Blog</a> - For ideas on how to auto-format phone numbers. Our script is based loosely on his plugin.</li>
        </ul>
    
    <a class="nav" href="/login"> &larr; Back to Login</a>
{% endblock content %}