{% extends "advisor_index.html" %}

{% block title %} Report Bugs {% endblock title %}

{% block content %}
<h2>Report Bugs</h2>
<p>This application is pretty new, so a few things might be a little wonky! If you see a bug, please use the form below to report it to us, and we will hunt it down as soon as we can.
Remember to be as thorough as possible, so that we can quickly identify the issue.</p>
<form>
    <h3> 1: What are the steps to reproduce the issue?</h3>
    <input type="text" name="description" />
    <select name="browser">
        <option>Internet Explorer</option>
        <option>Google Chrome</option>
        <option>Mozilla Firefox</option>
        <option>Safari</option>
        <option>Opera</option>
        <option>Other</option>
    </select>
    <select name="os">
        <option>Windows</option>
        <option>Mac OS X</option>
        <option>Linux</option>
    </select>
    <br></br>
    <textarea name="bug" id="bugtext" rows="15" cols="92">Totally a placeholder... better input on the way.</textarea>
</form>
{% endblock content %}
