<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Login &middot; BMUN Conference Management System</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/style.css" />
</head>

<body>
<div id="login" class="auth">
	<p>{{ state }}</p>
	<form action="/login/" method="post">
     	{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		<div id="fields">
        <div>
            <span>Username</span>
            <input class="text" type="text" name="username" value="{{ username}}" />
        </div>
        <div>
            <span>Password</span>
            <input class="text" type="password" name="password" value="" />
        </div>
        </div>
        <div id="options">
		<input class="submit" type="submit" value="Log In" />
        <a href="#">Change Password</a> &middot;
        <a href="#">Forgot Password?</a> &middot;
        <a href="/register/">Register New Advisor</a>
        </div>
	</form>
</div>
</body>
</html>