{% extends "base_index.html" %}

{% block title %} BMUN Conference Management System &middot; for Chairs {% endblock title %}

{% block js %}
	{{ block.super }}
{% endblock js %}

{% block usertype %}
<span class="bold" usertype="chair">Chairs</span>
{% endblock usertype %}

{% block navmenu %}
<ul id="navmenu">
    <li><a class="nav default" href="{% url chair "grading" %}">Grading</a></li>
    <li><a class="nav" href="{% url chair "attendance" %}">Take Attendance</a></li>
    <li><a class="nav" href="{% url chair "help" %}">Need Help?</a></li>
    <li><a class="nav" href="{% url chair "bugs" %}">Report Bugs</a></li>
</ul>
{% endblock navmenu %}

{% block content %}
{% endblock content %}