# Extraneous Files
.DS_Store
.idea
.sass-cache
huxley/*/static/scss/*.css

# Compiled Python Files
*.pyc

# Local Database
cmsdb
huxdb
*.db
huxley/huxley.db

# WSGI file
wsgi.py

# Static Directory
huxley/static/*

# Local Settings File
local_settings.py
will_settings.py

# Temporary Files
*~

# CSV Files
*.csv

# Fabfile
fabfile.py
