.DS_Store
.idea
.sass-cache
*~
*.pyc
*.csv

*.db
huxley/huxley.db

huxley/static/*
huxley/*/static/scss/*/*.css

huxley/settings/local.py
huxley/wsgi.py
fabfile/deploy.py

.coverage
htmlcov/

node_modules/
