Django==1.6.5
Fabric==1.9.0
South==0.8.4
coverage==3.7.1
cssmin==0.2.0
django-pipeline==1.3.24
django-pipeline-browserify==0.1.0
djangorestframework==2.4.3
drf-compound-fields==0.2.2
ecdsa==0.11
futures==2.1.6
mock==1.0.1
paramiko==1.14.0
pyScss==1.2.0.post3
pycrypto==2.6.1
requests==2.4.3
six==1.7.3
wsgiref==0.1.2
