arabic-reshaper==2.1.1
astroid==2.2.5
cachetools==4.2.1
certifi==2019.6.16
chardet==3.0.4
Django==2.2.13
django-easy-pdf==0.1.1
djangorestframework==3.10.3
future==0.18.2
google-api-core==1.25.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
html5lib==1.0.1
httplib2==0.18.1
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
Pillow==6.2.1
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.3.1
PyPDF2==1.26.0
python-bidi==0.4.2
pytz==2019.1
reportlab==3.5.59
requests==2.22.0
rsa==4.7
six==1.15.0
sqlparse==0.3.0
typed-ast==1.4.0
uritemplate==3.0.1
urllib3==1.25.3
webencodings==0.5.1
wrapt==1.11.2
xhtml2pdf==0.2.3
