amqp==5.0.9
arabic-reshaper==3.0.0
asgiref==3.3.4
billiard==3.6.4.0
cachetools==4.2.2
celery==5.2.3
certifi==2021.5.30
chardet==3.0.4
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Django==2.2.6
django-celery-beat==2.2.1
django-celery-results==2.2.0
django-easy-pdf==0.1.1
django-timezone-field==4.2.3
djangorestframework==3.12.4
future==0.18.3
google-api-core==1.30.0
google-api-python-client==2.9.0
google-auth==1.31.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
html5lib==1.1
httplib2==0.19.1
idna==2.8
kombu==5.2.3
packaging==20.9
Pillow==8.2.0
prompt-toolkit==3.0.26
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
PyPDF2==1.26.0
python-bidi==0.4.2
python-crontab==2.6.0
python-dateutil==2.8.2
pytz==2021.3
reportlab==3.5.67
requests==2.26.0
rsa==4.7
six==1.15.0
sqlparse==0.4.1
typed-ast==1.4.3
uritemplate==3.0.1
urllib3==1.25.3
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
xhtml2pdf==0.2.5
intuit-oauth==1.2.4
python-quickbooks==0.9.1
pytest==7.1.2
PyPika==0.48.9