{% extends "base_auth.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
	<div class="block left">
		<h2> Introducing: Huxley!</h2>
		<p>Huxley is a new system we're using to make your conference experience smoother than ever.</p>
		<p>Log in to get started, or <a class="nav" href="/about">learn more about Huxley!</a></p>
		<div id="errorcontainer">
			{% if state %}<label class="error">{{ state }}</label>{% endif %}
		</div>
	</div>
	<div class="block right">
		<form id="login" class="login-form" action="{% url 'login' %}" method="post">
			{% csrf_token %}
			<table>
				<tr>
					<td>Username</td>
				</tr>
				<tr>
					<td colspan="2"><input class="text empty" type="text" name="username" value="" tabindex="1"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td class="forgot"><a href="{% url 'forgot_password' %}" class="nav" tabindex="5">Forgot your password?</a></td>
				</tr>
				<tr>
					<td colspan="2"><input class="text empty" type="password" name="password" value="" tabindex="2"></td>
				</tr>
				<tr>
					<td><button class="submit rounded-small" type="submit" tabindex="3">Log In!</button></td>
					<td class="register">Not signed up? <a class="nav" href="{% url 'register' %}" tabindex="4">Register now!</a></td>
				</tr>
			</table>
		</form>
	</div>
{% endblock content %}


