{% extends "base.html" %}
{% load account_tags %}

{% block title %} Index Template {% endblock title %}

{% block body %}
    {% include "header.html" %}
    {% include "change-password.html" %}
    <div id="appnavbar" class="titlebar rounded-top">
        <ul id="navmenu">
            {% block navmenu %}
                {% if user|is_advisor %}
                    <li><a class="js-nav default" href="{% url 'advisor_welcome' %}">Welcome!</a></li>
                    <li><a class="js-nav" href="{% url 'advisor_roster' %}">Edit Roster</a></li>
                    <li><a class="js-nav" href="{% url 'advisor_preferences' %}">Edit Preferences</a></li>
                    <li><a class="js-nav" href="{% url 'advisor_attendance' %}">Check Attendance</a></li>
                    <li><a class="js-nav" href="{% url 'advisor_help' %}">Need Help?</a></li>
                {% elif user|is_chair %}
                    <li><a class="js-nav default" href="{% url 'chair_grading' %}">Grading</a></li>
                    <li><a class="js-nav" href="{% url 'chair_attendance' %}">Take Attendance</a></li>
                    <li><a class="js-nav" href="{% url 'chair_help' %}">Need Help?</a></li>
                {% endif %}
            {% endblock navmenu %}
        </ul>
    </div>
    <div id="appcontent" class="content transparent ie-layout rounded-bottom">
        <div id="contentwrapper">
            <div id="capsule">
                {% block content %}
                    <span id='no-content'></span>
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock body %}
