<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}Base Template{% endblock %} &middot; Huxley, by BMUN</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">

    {% load compressed %}
    {% block css %}    
        {% compressed_css 'huxley' %}
    {% endblock css %}
        
    {% block js %}
        {% compressed_js 'jquery' %}
        {% compressed_js 'huxley' %}
        <script type="text/javascript">
          $("html").data("default-path", "{{ default_path }}"); 
        </script>
    {% endblock js %}
</head>
<body>
    <div id="container">
        <div id="appcontainer">
            {% block body %}
            <h1> BODY </h1>
            {% endblock body %}
        </div>
    </div>
    <div id="error-overlay">
        <div id="error-container">
            <div id="error-content">
            </div>
        </div>
    </div>
</body>
</html>
