{% extends "base.html" %}
{% load account_tags %}

{% block title %} Inner Content Template {% endblock title %}

{% block body %}
    {% include "header.html" %}
    {% include "change-password.html" %}
    <div id="appnavbar" class="titlebar rounded-top">
        <ul id="navmenu">
        </ul>
    </div>
    <div id="appcontent" class="content transparent ie-layout rounded-bottom">
        <div id="contentwrapper">
            <div id="capsule">
                {% block content %}
                    <span id='no-content'></span>
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock body %}
