{% extends "base.html" %}

{% block title %} Index Template {% endblock title %}

{% block body %}

{% include "header.html" %}
{% include "change-password.html" %}

<div id="app" class="application">
    <div id="appnavbar" class="titlebar rounded-top">
        {% block navmenu %}
        {% endblock navmenu %}
    </div>
    <div id="appcontent" class="content transparent ie-layout rounded-bottom">
        <div id="contentwrapper">
            <div id="capsule">
                {% block content %}
                    <span id='no-content'></span>
                {% endblock content %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}
