<div id="changepassword-container" class="change-password rounded-bottom transparent">
    <form id="changepassword" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="input">
            <label for="oldpassword">Current Password</label>
            <input type="password" class="rounded-small" name="oldpassword" value="">
        </div>
        <div class="input">
            <label for="newpassword">New Password</label>
            <input type="password" class="rounded-small" name="newpassword" value="">
        </div>
        <div class="input">
            <label for="newpassword">New Password (again)</label>
            <input type="password" class="rounded-small" name="newpassword2" value="">
        </div>
        <div>
            <button type="submit" class="rounded-small topbarbutton">Change Password!</button>
        </div>
        <div id="message">
            <label class="error"> Woops! </label>
        </div>
    </form>
</div>