{% extends "base_index.html" %}

{% block title %}Help Center{% endblock title %}

{% block content %}
<h2>Huxley Help Center</h2>
<p> Need help with Huxley? You're in the right place!
Take a look at the questions below, and <span class="bold">click on a question to display the answer.</span>
If you can't find what you're looking for, please contact us at <a href="mailto:info@bmun.org">info@bmun.org</a> for more information.</p>
{% for cat, questions in categories.items %}
<h3> {{ cat }} </h3>
<div class="accordion">
    {% for ques in questions %}
    <a class="accordion-topic" href="#"> {{ ques.question }}</a>
    <div class="accordion-content">
        <p> {{ ques.answer }} </p>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock content %}