<div id="splash" class="rounded transparent">
    <noscript>
        <p>Hi there, {{ user.first_name }}! Thanks for your interest in using the Huxley.
        Unfortunately, it seems that the browser you're using doesn't support JavaScript, which Huxley needs to run. If you're on a school
        computer, it's likely that your administrator has disabled JavaScript. Please access Huxley with a browser with JavaScript enabled (
        we recommend Google Chrome, it's awesome). See you soon!</p>
        <a id="logout" href="/logout/">&larr; LOGOUT</a>
    </noscript>
</div>