{% extends "base_auth.html" %}

{% block title %}Login{% endblock title %}

{% block header %}
	<div class="logo">
		<hr />
		<h1>Welcome to Huxley</h1>
		<span class="help-text">for Berkeley Model United Nations</span>
	</div>
{% endblock header %}

{% block content %}
	<form id="login" class="login-form" action="{% url 'login' %}" method="post">
		{% csrf_token %}
		<div class="login-fields">
			<input class="text empty" type="text" name="username" placeholder="Username" />
			<input class="text empty" type="password" name="password" placeholder="Password" />
		</div>
		<button class="button button-blue login-button rounded-small" type="submit"><span>Log In<span></button>
		<a class="js-nav button button-green rounded-small" href="{% url 'register' %}">Register for BMUN</a>
		<div id="errorcontainer">
			{% if state %}<label class="error">{{ state }}</label>{% endif %}
		</div>	
	</form>
{% endblock content %}
