{% extends "base.html" %}

{% block title %} Authentication Template {% endblock title %}


{% block body %}

{% include "ie-warning.html" %}
{% include "js-warning.html" %}

<div id="app" class="authentication">
<div class="content content-outer transparent ie-layout rounded">
    <div id="contentwrapper">
        <div id="capsule">
        {% block header %}
        {% endblock header %}
        <hr />
        {% block content %}
        {% endblock content %}
        </div>
    </div>
</div>
</div>


{% block extrashit %}
{% endblock extrashit %}

{% endblock body %}
