{% extends "base_auth.html" %}

{% block title %} Forgot your Huxley Password? {% endblock title %}

{% block content %}
	<h1>Forgot your Password?</h1>
	<p>No problem. Just enter your username <strong>OR</strong> your email below, and we'll send a reset password to the email account you registered with.</p>
	<br />
	<a class="nav" href="/login">&larr; Back to login</a>
	<hr />
	<form id="forgot-form" class="login-form" action="{% url 'forgot_password' %}" method="post">
		{% csrf_token %}
		<div class="login-fields">
			{{ form.username }}
			{{ form.email }}
		</div>
		<hr />
		<button class="button button-green rounded-small" type="submit">Reset</button>
		<div id="errorcontainer">
			{% for error in form.errors.all %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
	</form>
{% endblock content %}


