{% extends "base_auth.html" %}

{% block title %} Forgot your Huxley Password? {% endblock title %}

{% block content %}
	<h1>Forgot your Password?</h1>
	<p>No problem. Just enter your username below, and we'll send a temporary password to your email address.</p>
	<a class="nav" href="{% url 'login' %}">&larr; Back to login</a>
	<hr />
	<form id="password-reset" class="login-form" action="{% url 'reset_password' %}" method="post">
		{% csrf_token %}
		<div class="login-fields">
			<input class="text empty" type="text" name="username" placeholder="Username or Email" />
		</div>
		<button class="button button-green reset-password-button rounded-small" type="submit">Reset Password</button>
		<span class="help-text">We'll email you a new one.</span>
		<div id="errorcontainer">
			{% if error %}
				<label class="error">Sorry, we couldn't find a user for the username given.</label>
			{% endif %}
		</div>
	</form>
{% endblock content %}


