{% extends 'base-outer.html' %}

{% block title %} Register for Berkeley Model United Nations {% endblock title %}

{% block content %}
    <h2>Registration is Closed</h2>
	<p>Thank you for your interest in attending BMUN! Unfortunately, we have already reached our tentative cap 
	for BMUN LXII and have shut down registration. However, if you are interested in sending delegates to the 
	bilingual Chinese State Council committee, please emaail info@bmun.org. Thank you for your interest in BMUN,
	and we hope you're excited for conference!</p>
    <a class="js-nav outer-nav arrow-left" href="{% url 'accounts:login' %}"> Back to Login</a>
{% endblock content %}

  
