{% extends "base_auth.html" %}

{% block title %} Register for Berkeley Model United Nations {% endblock title %}

{% block content %}
<h2>Register for Berkeley Model United Nations</h2>
<p>Please fill out the following information to register your school for BMUN 61. All fields are required except for Secondary Contact information.</p>

<br/>

<a class="nav" href="/login"> &larr; Back to Login</a>
<form method="post" id="registration" action="{% url 'register' %}">
{% csrf_token %}

<fieldset>
	<legend> Account Information </legend>
	<div class="row">
		<div class="block">
			<span> {{ form.FirstName.label }}: </span> {{ form.FirstName }}
			{% for error in form.errors.FirstName %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>

		<div class="block">
			<span> {{ form.LastName.label }}: </span> {{ form.LastName }}
			{% for error in form.errors.LastName %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>	
	</div>
	<div class="row">
		<div class="block">
			<span> {{ form.Username.label }}: </span> {{ form.Username }}
			{% for error in form.errors.Username %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
		<div class="block">
			<span> {{ form.Password.label }}: </span> {{ form.Password }}
			{% for error in form.errors.Password %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
		<div class="block">
			<span> {{ form.Password2.label }}: </span> {{ form.Password2 }}
			{% for error in form.errors.Password2 %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
	</div>
</fieldset>

<fieldset>
	<legend> School Information </legend>
	<p class="instructions"> {{ form.us_or_int.label }} </p>
	{{ form.us_or_int }}
	
	<div class="row">
		<div class="block">
			<span> {{ form.SchoolName.label }}: </span> {{ form.SchoolName }}
			{% for error in form.errors.SchoolName %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="block">
			<span> {{ form.SchoolAddress.label }} </span> {{ form.SchoolAddress }}
			{% for error in form.errors.SchoolAddress %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="block">
		<span> {{ form.SchoolCity.label }}: </span> {{ form.SchoolCity }}
		{% for error in form.errors.SchoolCity %}
			<label class="error"> {{ error|escape }} </label>
		{% endfor %}
		</div>
		<div class="block">
		<span> {{ form.SchoolState.label }}: </span> {{ form.SchoolState }}
		{% for error in form.errors.SchoolState %}
			<label class="error"> {{ error|escape }} </label>
		{% endfor %}
		</div>
		<div class="block">
		<span> {{ form.SchoolZip.label }}: </span> {{ form.SchoolZip }}
		{% for error in form.errors.SchoolZip %}
			<label class="error"> {{ error|escape }} </label>
		{% endfor %}
		</div>
	</div>
	<div class="row" id="country-row">
		<div class="block">
			<span> {{ form.SchoolCountry.label }} </span> {{ form.SchoolCountry }}
			{% for error in form.errors.SchoolCountry %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
	</div>
</fieldset>

<fieldset>
	<legend>Program Information</legend>
	<p class="instructions"> {{ form.program_type.label }} </p> {{ form.program_type }} 
	{% for error in form.errors.program_type %}
		<label class="error"> {{ error|escape }} </label>
	{% endfor %}
	<p class="instructions">Please tell us a bit more about your delegation this year.</p>
	<div class="row">
		<div class="block">
			<p> {{ form.howmany.label }} </p> {{ form.howmany }}
			{% for error in form.errors.howmany %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
		<div class="block">
			<span> {{ form.MinDelegation.label }}: </span> 
			{{ form.MinDelegation }}
			{% for error in form.errors.MinDelegation %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
		<div class="block">
			<span> {{ form.MaxDelegation.label }}: </span>
			{{ form.MaxDelegation }}
			{% for error in form.errors.MaxDelegation %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}	
		</div>
	</div>
</fieldset>

<fieldset id="primarycontact">
	<legend>Primary Contact</legend>
	<div class="row">
		<div class="block">
			<span> {{ form.PrimaryName.label }}: </span> 
			{{ form.PrimaryName }}
			{% for error in form.errors.PrimaryName %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
		<div class="block">
			<span> {{ form.PrimaryEmail.label }}: </span> 
			{{ form.PrimaryEmail}}
			{% for error in form.errors.PrimaryEmail %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
		<div class="block">
			<span> {{ form.PrimaryPhone.label }}: </span>
			{{ form.PrimaryPhone }}
			{% for error in form.errors.PrimaryPhone %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
	</div>
</fieldset>

<fieldset id="secondarycontact">
	<legend>Secondary Contact</legend>
	<div class="row">
		<div class="block">
			<span> {{ form.SecondaryName.label }}: </span>
			{{ form.SecondaryName }}
			{% for error in form.errors.SecondaryName %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
		<div class="block">
			<span> {{ form.SecondaryEmail.label }}: </span>
			{{ form.SecondaryEmail }}
			{% for error in form.errors.SecondaryEmail %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
		<div class="block">
			<span> {{ form.SecondaryPhone.label }}: </span>
			{{ form.SecondaryPhone }}
			{% for error in form.errors.SecondaryPhone %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
		</div>
	</div>
</fieldset>

<fieldset>
	<legend>Country Preferences</legend>
	<p class="instructions">
		Please choose 10 United Nations Member States or Observers your school would like to represent. A reference list of countries and their relation to committees is available online. Please diversify your selection.
	</p>
	<div class="row">
		<div class="block">
			<ul>
				<li>
					<label> {{ form.CountryPref1.label }} </label>
					{{ form.CountryPref1 }}
					{% for error in form.errors.CountryPref1 %}
						<label class="error"> {{ error|escape }} </label>
					{% endfor %}
				</li>
				<li>
					<label> {{ form.CountryPref2.label }} </label>
					{{ form.CountryPref2 }}
					{% for error in form.errors.CountryPref2 %}
						<label class="error"> {{ error|escape }} </label>
					{% endfor %}
				</li>
				<li>
					<label> {{ form.CountryPref3.label }} </label>
					{{ form.CountryPref3 }}
					{% for error in form.errors.CountryPref3 %}
						<label class="error"> {{ error|escape }} </label>
					{% endfor %}
				</li>
				<li>
					<label> {{ form.CountryPref4.label }} </label>
					{{ form.CountryPref4 }}
					{% for error in form.errors.CountryPref4 %}
						<label class="error"> {{ error|escape }} </label>
					{% endfor %}
				</li>
				<li>
					<label> {{ form.CountryPref5.label }} </label>
					{{ form.CountryPref5 }}
					{% for error in form.errors.CountryPref5 %}
						<label class="error"> {{ error|escape }} </label>
					{% endfor %}
				</li>
			</ul>
		</div>
		<div class="block">
			<ul>		
				<li>
					<label> {{ form.CountryPref6.label }} </label>
					{{ form.CountryPref6 }}
					{% for error in form.errors.CountryPref6 %}
						<label class="error"> {{ error|escape }} </label>
					{% endfor %}
				</li>
				<li>
					<label> {{ form.CountryPref7.label }} </label>
					{{ form.CountryPref7 }}
					{% for error in form.errors.CountryPref7 %}
						<label class="error"> {{ error|escape }} </label>
					{% endfor %}
				</li>
				<li>
					<label> {{ form.CountryPref8.label }} </label>
					{{ form.CountryPref8 }}
					{% for error in form.errors.CountryPref8 %}
						<label class="error"> {{ error|escape }} </label>
					{% endfor %}
				</li>
				<li>
					<label> {{ form.CountryPref9.label }} </label>
					{{ form.CountryPref9 }}
					{% for error in form.errors.CountryPref9 %}
						<label class="error"> {{ error|escape }} </label>
					{% endfor %}
				</li>
				<li>
					<label> {{ form.CountryPref10.label }} </label>
					{{ form.CountryPref10 }}
					{% for error in form.errors.CountryPref10 %}
						<label class="error"> {{ error|escape }} </label>
					{% endfor %}
				</li>
			</ul>
		</div>
	</div>
</fieldset>

<fieldset>
	<legend>Special Committee Preferences</legend>
	<p class="instructions">
		Would your delegation be interested in being represented in the following small/specialized committees? Positions are limited and we may not be able to accomodate all preferences. 
	</p>
	{{ form.CommitteePrefs }}
	{% for error in form.errors.CommitteePrefs %}
		<label class="error"> {{ error|escape }} </label>
	{% endfor %}
</fieldset>

<div style="text-align:right;">
	<a style="float:left; margin-top:2px" class="nav" href="/login"> &larr; Back to Login</a> Completed the form? Then let's <button class="submit rounded-small" type="submit">Register!</button>
</div>
</form>
{% endblock content %}
