{% extends 'base-outer.html' %}

{% block title %} Register for Berkeley Model United Nations {% endblock title %}

{% block content %}
    <h2>Registration is Temporarily Closed</h2>
    <p>Thank you for your interest in attending BMUN! Unfortunately, we have already reached our tentative cap for BMUN LXII and have shut down registration temporarily. By late December registration will re-open so that schools can complete the application to be added to the waitlist.</p>
    <p>By early next Spring, registered schools will finalize their rosters and spots will likely open up at which point waitlisted schools will be able to receive country assignments. If your school has already registered, you can still log in to your account. Thank you for your interest in BMUN LXII, and please don't hestiate to contact info@bmun.org with any questions.</p>
    <a class="js-nav outer-nav arrow-left" href="{% url 'accounts:login' %}"> Back to Login</a>
{% endblock content %}

  
