{% extends 'base-outer.html' %}

{% block title %} Register for Berkeley Model United Nations {% endblock title %}

{% block content %}
<h2>Registration is Closed</h2>
<p>Thank you for your interest in attending BMUN! Unfortunately, due to very high volume, registration for the sixty-first session of Berkeley Model United Nations is now closed. We sincerely apologize for the inconvenience.</p>
<p>Registration for BMUN 62 will begin <strong>September 1, 2013</strong> for our conference in Spring 2014. If you have any questions or concerns, please contact our USG of External Relations, Nishita Agarwal at <strong><a href="mailto:info@bmun.org">info@bmun.org</a>.</strong></p>
<br/>
<a class="js-nav outer-nav arrow-left" href="{% url 'login' %}"> Back to Login</a>
{% endblock content %}