{% extends "base_auth.html" %}

{% block title %} Registration Successful! {% endblock title %}

{% block content %}
<h1>Thank You</h1>
<p>Thank you for registering for BMUN 62! Country assignments will be made available on November 5th on our website. A summary of fees is listed below:<p>
<h3>School Registration Fee</h3>
<ul>
    <li>$40 (if registered by October 19, 2012)</li>
    <li>$50 (if registered after October 19, 2012)</li>
</ul>

<h3>Delegate Registration Fee</h3>
<ul>
    <li>$40 per delegate (by February 11, 2013)</li>
    <li>$50 per delegate (by February 25, 2013)</li>
    <li>$55 per delegate (after February 25, 2013 or paid at conference)</li>
</ul>

<p>We ask that you compile delegate fees into ONE check - <span class="bold">please do not have your students mail individual checks.</span> Please mail all checks out to:<br>

<p><span class="bold">Berkeley Model United Nations</span><br>
P.O. Box #4306<br>
Berkeley, CA 94704-0306</p>

<p>If you have any questions or concerns, please do not hesitate to contact me at <a href="mailto:info@bmun.org">info@bmun.org</a>. We look forward to seeing you in March!</p>

<p>Sincerely,</p>
<p><span class="bold">Shrey Goel</span><br>
Under-Secretary General of External Relations<br>
Berkeley Model United Nations, 62nd Session</p>
<br>
<a class="nav" href="{% url 'login' %}"> Proceed to Login &rarr; </a>
{% endblock content %}