/* --- General --- */

* { margin: 0px; padding: 0px; }
html { overflow-y: scroll; }
body { background: #f0f0f0 url(/static/img/unga3.jpg) center top no-repeat fixed; text-align: center; }


/* --- Structure --- */

#app{ display: none; margin: 0px auto; }
#wrapper{ width: 800px; margin: 0px auto 50px auto; }
#noscriptwrapper{ background: #faa; margin: 0px auto; border-bottom: 1px solid #fbb; box-shadow: 0px 0px 3px #fbb; }
#noscript{ width: 520px; padding: 10px 0px 10px 80px; margin: 0px auto; text-align: left; }
#splash{ background: #111 url(/static/img/logo_white.png) center center no-repeat; padding: 10px; width: 600px; min-height: 250px; border: 1px solid #222; margin: 60px auto;}

/* --- Layout --- */

.rounded{ border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; behavior: url(/static/htc/PIE.htc) }
.rounded-small{ border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; behavior: url(/static/htc/PIE.htc) }
.rounded-top{ border-radius: 6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; -webkit-border-radius: 6px 6px 0px 0px; behavior: url(/static/htc/PIE.htc) }
.rounded-bottom{ border-radius: 0px 0px 6px 6px; -moz-border-radius: 0px 0px 6px 6px; -webkit-border-radius: 0px 0px 6px 6px; behavior: url(/static/htc/PIE.htc) }
.titlebar{ height: 15px; padding: 10px 0px 10px 12px; background: #111; margin: 40px auto 0px auto; border-top: 1px solid #555; font: 10px Helvetica, Arial, sans-serif; font-weight: 600; color: #666; letter-spacing: 13px; text-align: center; }
.ie-layout{ zoom: 1; }
.transparent{ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE8 */ filter: alpha(opacity=90); /* IE6/7 */ -moz-opacity: 0.9; /* Netscape? */ -khtml-opacity: 0.9; /* Safari 1.x */ opacity: 0.9; /* Not shitty browsers */ }


/* --- Typography --- */

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
#noscript p{ font-size: 11px; color: #300; }
.bold{font-weight: 700;}
#splash p{
    font-size: 14px;
    text-shadow: 0px 1px #333;
    font-weight: 300;
    text-align: left;
    line-height: 18px;
}


/* Text Colors */
#splash p{
    color:#eee; 
}

/* --- Headings --- */

h1{ font-weight: 300; }
#appcontent h2{ padding-bottom: 10px; }
#appcontent h3{ color: #666; margin-top: 15px; padding-left: 2px; border-bottom: 1px solid #ddd; font-weight:500; font-size: 11px; }
#noscript h3{ color: #600; text-shadow: 0px 1px #fcc; font-size: 14px; }

/* MAIN APP CONTENT */

#appcontent {
    line-height: 18px;
    width: 740px;
    text-align:left;
}

#appcontent img{
    margin-bottom: -1px;
    padding: 0px 2px;
}

/* ROSTER EDIT */

#rostercontainer{
    width: 740px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 0px auto;
}

#roster .delegatename {
    width: 200px;
    padding-left: 5px;
}

#roster .delegateemail {
    width: 200px;
    padding-left: 5px;
}

#roster .delegatecountry {
    width: 185px;
    padding-left: 5px;
}

#roster .delegatecommittee {
    width: 75px;
    padding-left: 5px;
}

#roster .nodelegate {
    font-weight: 400;
    text-decoration: none;
}

#roster .nodelegate:hover {
    text-decoration: none;
}

#roster input[type=text].empty{
    color: #999;
}

#edit .delegateoption {
    display: block;
    float:left;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 0px;
}

#edit #delete{
    width: 10px;
    height: 10px;
    background: url(/static/img/delete.png) center no-repeat;
}

#edit #delete:hover {
    background: url(/static/img/delete_over.png) center no-repeat;
}

#edit #switch{
    width:10px;
    height:10px;
    background: url(/static/img/switch2.png) center no-repeat;
}

#edit #switch:hover{
    background: url(/static/img/switch_over.png) center no-repeat;
}

#edit #switch .active{
    background: url(/static/img/switch_over.png) center no-repeat;
}

/* WELCOME */

#welcomeinfocontainer{
    width: 740px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 0px auto;
}

#welcomeinfo {
    width: 700px;
    margin: 10px auto 20px auto;
    font-size: 14px;
    font-weight: 400;
    border-collapse: collapse;
    background: #eee;
}

#welcomeinfo tr{
    height:28px;
    padding: 0px;
    !border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    !vertical-align: middle;
}

#welcomeinfo th{
    text-align:left;
    color: #222;
}

#welcomeinfo input[type=text]{
    border: none;
    background: none;
    width: 190px;
    height: 20px;
    margin: 0px 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#welcomeinfo input[type=text].empty{
    color: #999;
}

#welcomeinfo td.fieldLabel{
    width: 250px;
    border-right: #f00;
}

#welcomeinfo td.field:hover {
	background: #E0E0E0;
	!border: 1px solid #ccc;
}

#welcomeinfo .other {
	margin-left: 10px;
}

#welcomeinfo .good {
	color: #00CC00;
}

#welcomeinfo .negative {
	color: #f30;
}

#changepassword label.success {
	color: #00CC00;
	font-size: 11px;
    font-weight: 700;
    padding: 7px 0px 5px 20px;
    background: url(/static/img/tick.png) left center no-repeat;
}

/* PREFERENCES */
#preferences {
    width: 740px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 0px auto;
}

.preferencestable {
    width: 700px;
    margin: 10px auto 20px auto;
    font-size: 14px;
    font-weight: 300;
    border-collapse: collapse;
    background: #eee;
}

.preferencestable tr{
    height:28px;
    padding: 0px;
    !border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    !vertical-align: middle;
}

.preferencestable th{
    text-align:left;
    color: #222;
}

.preferencestable td.fieldLabel{
    width: 250px;
    border-right: #f00;
}

.preferencestable td.field:hover {
	background: #E0E0E0;
	!border: 1px solid #ccc;
}

.preferencestable .other {
	margin-left: 10px;
}

.preferencestable select{
	min-width: 120px;
}

.preferencestable label, .preferencestable input{
	margin: 0px 5px;
}

.preferencestable input[type=checkbox] {
    margin: 0px 10px 0px 0px;
}

/* ATTENDANCE */
#div-attendance {
    width: 740px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 0px auto;
}

.table-attendance {
    width: 700px;
    margin: 10px auto 20px auto;
    font-size: 14px;
    font-weight: 300;
    border-collapse: collapse;
    background: #eee;
}

.table-attendance tr{
    height:28px;
    padding: 0px;
    !border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    !vertical-align: middle;
}

.table-attendance th.name{
    text-align:left;
    color: #222;
    width: 100%;
}

.table-attendance th.session{
    text-align:center;
    color: #222;
}

.table-attendance td.name{
    text-align:left;
    width: 100%;
}

.table-attendance td.session{
    text-align:center;
    color: #222;
}

.table-attendance th.country {
    color: #222;
    padding: 0px 10px;
}

.table-attendance td.country {
    padding: 0px 10px;
    min-width: 250px;
}

.table-attendance input{
    margin: 0px 10px;
}