/* --- General --- */

* { margin: 0px; padding: 0px; }
html { overflow-y: scroll; }
body { background: #f0f0f0 url(/static/img/unga3.jpg) center top no-repeat fixed; text-align: center; }


/* --- Structure --- */

#app{ display: none; margin: 0px auto; }
#wrapper{ width: 800px; margin: 0px auto 50px auto; }
#noscriptwrapper{ background: #faa; margin: 0px auto; border-bottom: 1px solid #fbb; box-shadow: 0px 0px 3px #fbb; }
#noscript{ width: 520px; padding: 10px 0px 10px 80px; margin: 0px auto; text-align: left; }
#splash{ background: #111 url(/static/img/logo_white.png) center center no-repeat; padding: 10px; width: 600px; min-height: 250px; border: 1px solid #222; margin: 60px auto;}

/* --- Layout --- */

.rounded{ border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; behavior: url(/static/htc/PIE.htc) }
.rounded-small{ border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; behavior: url(/static/htc/PIE.htc) }
.rounded-top{ border-radius: 6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; -webkit-border-radius: 6px 6px 0px 0px; behavior: url(/static/htc/PIE.htc) }
.rounded-bottom{ border-radius: 0px 0px 6px 6px; -moz-border-radius: 0px 0px 6px 6px; -webkit-border-radius: 0px 0px 6px 6px; behavior: url(/static/htc/PIE.htc) }
.titlebar{ height: 15px; padding: 10px 0px 10px 12px; background: #111; margin: 40px auto 0px auto; border-top: 1px solid #555; font: 10px Helvetica, Arial, sans-serif; font-weight: 600; color: #666; letter-spacing: 13px; text-align: center; }
.ie-layout{ zoom: 1; }
.transparent{ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE8 */ filter: alpha(opacity=90); /* IE6/7 */ -moz-opacity: 0.9; /* Netscape? */ -khtml-opacity: 0.9; /* Safari 1.x */ opacity: 0.9; /* Not shitty browsers */ }


/* --- Typography --- */

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
#noscript p{ font-size: 11px; color: #300; }
.bold{font-weight: 700;}
#splash p{
    font-size: 14px;
    text-shadow: 0px 1px #333;
    font-weight: 300;
    text-align: left;
    line-height: 18px;
}


/* Text Colors */
#splash p{
    color:#eee; 
}

/* --- Headings --- */

h1{ font-weight: 300; }
#appcontent h2{ padding-bottom: 10px; }
#appcontent h3{ color: #666; margin-top: 15px; padding-left: 2px; border-bottom: 1px solid #ddd; font-weight:500; font-size: 11px; }
#noscript h3{ color: #600; text-shadow: 0px 1px #fcc; font-size: 14px; }

/* MAIN APP CONTENT */

#appcontent {
    line-height: 18px;
    width: 740px;
    text-align:left;
}

#appcontent img{
    margin-bottom: -1px;
    padding: 0px 2px;
}
