/* Registration Form */

#registration
{
    input[type=text], input[type=password], textarea
    {
        margin-top: 15px;

        &:focus { background-color: #f9fcff; }
    }

    input[type=text], input[type=password]
    {
        font-size: 14px;
    }

    textarea
    {
        font-size: 12px;
    }

    input[type=radio], input[type=checkbox] { margin-right: 3px; }

    select
    {
        font-size: 13px;
        background-color: #fff;
        color: #666;
        border: 1px solid #ccc;
        margin-left: 3px;
    }

    .contact-select select
    {
        margin-top: 15px;
        width:300px;
        margin-left: 0px;
    }

    label.hint
    {
        background: none;
        display: block;
        font-size: 11px;
        line-height: 1.4;
        padding: 3px 5px 0;

        & + input[type=text], & + input[type=password]
        {
            margin-top: 11px;
        }
    }

    .instructions { font-weight: bold; }
}
