<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Huxley, by BMUN</title>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    {% load static %}
    <link type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,600,400,300" rel="stylesheet">
    <link type="text/css" href="{% static 'js/huxley.css' %}" rel="stylesheet">
    <script type="text/javascript">
        currentUser = {{ user_json|safe }};
        conference = {{ conference_json|safe }}
        GenderConstants = {{ gender_constants|safe }};
        ContactTypes = {{ contact_types|safe }};
        ProgramTypes = {{ program_types|safe }};
    </script>
    <script type="text/javascript" src="{% static 'js/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/huxley.js' %}"></script>
</head>
<body>
    {% include "ie-warning.html" %}
    {% include "js-warning.html" %}
    <div id="huxley-app"></div>
    <div style="background-color: #111; position: fixed; bottom: 0pt; right: 0pt; text-align: right; font-weight: 600; padding: 5px 15px 5px 10px; background-color: rgba(17, 17, 17, 0.6); min-width: 135px; border-top-left-radius: 6px">
      <span style="color: #aaa; font-size: 11px;"> Having Issues?</span>
      <a style="color: #eee; font-size: 12px; padding-left: 4px" href="mailto:tech@bmun.org?subject=Issues%20With%20Huxley">Email Us</a>
    </div>
</body>
</html>
