#changepassword-container
{
	text-align: left;
	display: none;
	padding: 15px;
	width: 183px;
	background: #111;
	position: absolute;
	top: 40px;
	right: 92px;
	z-index: 1;
	border: 1px solid #222;
	border-top-width: 0px;

	form#changepassword
	{
		div.input
		{
			label { color: #aaa; font-size: 11px; }
			&:hover label { color: #eee; }
		}

		input[type=password]
		{
			width: 175px;
			margin-bottom:10px;
			font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 300;
			color: #666;
			background: #eee;
			border: none;
			border-top: 1px solid #aaa;
			padding: 4px;

			&:hover { border-top: 1px solid #999; }
			&:focus { background: #fff; outline: 0; }
		}

		button { padding: 3px; margin-top: 5px; }

		#message { display: none; margin-top: 10px; }
	}
}