.login-form
{
    input[type=text], input[type=password]
    {
        width: 264px; 
        margin-bottom:10px;
        font-size: 18px;

        border-radius: 3px;
        moz-border-radius: 3px;
        webkit-border-radius: 3px;
    }

    .forgot
    {
        text-align: right;
        vertical-align: bottom;

        a { font-size: 9px; font-weight: 500; }
    }

    .register { text-align: right; }

    button.submit { margin: 5px 0px; }
}