{% extends "base_index.html" %}

{% block title %}Loading...{% endblock title %}

{% block navmenu %}
<ul id="navmenu">
    <li><a class="js-nav default" href="{% url 'advisor_welcome' %}">Welcome!</a></li>
    <li><a class="js-nav" href="{% url 'advisor_roster' %}">Edit Roster</a></li>
    <li><a class="js-nav" href="{% url 'advisor_preferences' %}">Edit Preferences</a></li>
    <li><a class="js-nav" href="{% url 'advisor_attendance' %}">Check Attendance</a></li>
    <li><a class="js-nav" href="{% url 'advisor_help' %}">Need Help?</a></li>
</ul>
{% endblock navmenu %}
