{% extends "base_index.html" %}

{% block title %}Loading...{% endblock title %}

{% block default-path %}{% url 'advisor_welcome' %}{% endblock default-path %}

{% block usertype %}
<span class="bold" usertype="advisor">Advisors</span>
{% endblock usertype %}

{% block navmenu %}
<ul id="navmenu">
    <li><a class="nav default" href="{% url 'advisor_welcome' %}">Welcome!</a></li>
    <li><a class="nav" href="{% url 'advisor_roster' %}">Edit Roster</a></li>
    <li><a class="nav" href="{% url 'advisor_preferences' %}">Edit Preferences</a></li>
    <li><a class="nav" href="{% url 'advisor_attendance' %}">Check Attendance</a></li>
    <li><a class="nav" href="{% url 'advisor_help' %}">Need Help?</a></li>
</ul>
{% endblock navmenu %}

{% block content %}
{% endblock content %}