{% extends "base_index.html" %}

{% block title %}Check Attendance{% endblock title %}

{% block content %}
<h2> Check Attendance </h2>

<p> Here you can check which delegates have attended which sessions. Please contact us if there are any questions or discrepancies. </p>

<div class="tablemenu header"></div>
<div id="attendance">
	<table class="table">
		<tr>
			<th class="name"> Delegate </th>
			<th class="session"> 1 </th>
			<th class="session"> 2 </th>
			<th class="session"> 3 </th>
			<th class="session"> 4 </th>
		</tr>
		{% for slot in delegate_slots %}
			<tr>
				<td class="name">
					{% if slot.delegate %}
						{{ slot.delegate }}
					{% else %}
						Delegate Unregistered
					{% endif %}
				</td>
				<td class="session"> 
					<input type="checkbox" disabled="true" {% if slot.attended_session1 %} checked="true" {% endif %} ></input>
				</td>
				<td class="session"> 
					<input type="checkbox" disabled="true" {% if slot.attended_session2 %} checked="true" {% endif %} ></input>
				</td>
				<td class="session"> 
					<input type="checkbox" disabled="true" {% if slot.attended_session3 %} checked="true" {% endif %} ></input>
				</td>
				<td class="session"> 
					<input type="checkbox" disabled="true" {% if slot.attended_session4 %} checked="true" {% endif %} ></input>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>
<div class="tablemenu footer"></div>

{% endblock content %}