{% extends "advisor_index.html" %}

{% block title %}Edit Preferences{% endblock title %}

{% block content %}

{% load advisor_tags %}

<h2> Edit Preferences </h2>
<p> Here you can edit your country and committee preferences. Please note that <span class="bold">this option will only be available until the early registration deadline</span>, after which your preferences will be locked and we will begin the assignment process. As always, <span class="bold">don't forget to save</span> when you're done!</p>

<form method="post" id ="editprefs" action="{% url 'advisor_preferences' %}">
{% csrf_token %}
<div class="tablemenu header">
	Don't forget to <input class="saved button" type="submit" value="SAVE!"/>
</div>

<div id ="preferences">
<table class ="preferencestable">
	<tr>
		<th colspan=2> Country Preferences </th>
	</tr>
	{% for row in countryprefs %}
		<tr>
			<td class="field">
			<label>{{ row.0|leading_zeros:"2" }}</label>
			<select class="select" name="CountryPrefs" tabindex="{{ row.0 }}">
				{% if not row.1 %}
					<option value="0">Select a Country</option>
				{% endif %}
				{% for country in countries %}
					{% if country == row.1 %}
						<option value="{{ country.id }}" selected="selected">{{ country }}</option>
					{% else %}
						<option value="{{ country.id }}">{{ country }}</option>
					{% endif %}
				{% endfor %}
			</select>
			</td>
			<td class="field">
			<label>{{ row.0|add:"5"|leading_zeros:"2" }}</label>
			<select class="select" name="CountryPrefs" tabindex="{{ row.0 }}">
				{% if not row.2 %}
					<option value="0">Select a Country</option>
				{% endif %}
				{% for country in countries %}
					{% if country == row.2 %}
						<option value="{{ country.id }}" selected="selected">{{ country }}</option>
					{% else %}
						<option value="{{ country.id }}">{{ country }}</option>
					{% endif %}
				{% endfor %}
			</select>
			</td>
		</tr>
	{% endfor %}
	
	<tr>
		<th colspan=2> Special Committee Preferences </th>
	</tr>
	{% for pair in committees %}
		<tr>
      		{% for committee in pair %}
      			{% if committee %}
					<td class='field'>
						{% if committee in committeeprefs %}
							<label><input class="select" type="checkbox" checked ="checked" name="{{ "CommitteePrefs" }}" value="{{ committee.id }}">{{ committee.full_name }} </input></label>
						{% else %}
							<label><input class="select" type="checkbox" name="{{ "CommitteePrefs" }}" value="{{ committee.id }}">{{ committee.full_name }} </input></label>
						{% endif %}
					</td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
</table>
</div>

<div class="tablemenu footer">
    Don't forget to <input class="saved button" type="submit" value="SAVE!" />
</div>
</form>

{% endblock content %}