{% extends "base_index.html" %}

{% block title %}Edit Roster{% endblock title %}

{% block content %}
<h2>Edit Roster</h2>
<!--<p> Here you can edit your roster. To change a delegate's name, simply click on it. To <span class="bold">erase</span> a delegate, click the <img src="/static/img/delete_over.png"> button.
To <span class="bold">switch</span> delegates, click the <img src="/static/img/switch_over.png"> button of the first delegate, and then the corresponding button of the second delegate.
When you're done, <span class="bold">don't forget to save your changes!</span> </p>-->
<p>Here, you can view and edit your roster for BMUN 62. <strong>To add a delegate</strong>: simply click a table row where indicated. <strong>To delete a delegate</strong>: click the <img src="/static/img/delete_over.png"> button. A yellow "save" button indicates that you have unsaved changes. <strong>Don't forget to save when you're done!</strong></p>
<form id="theRoster" method="post" action="{% url 'advisors:roster' %}">
{% csrf_token %}
<div class="tablemenu header">
    Don't forget to <input class="saved button" type="submit" value="SAVE!"/>
</div>
<div id="rostercontainer" class="table-container">
<table id="roster" class="table">
    <thead>
        <tr>
            <th></th>
            <th class="delegatename"> Delegate Name </th>
            <th class="delegateemail"> Delegate Email </th>
            <th class="delegatecountry"> Country/Position </th>
            <th class="delegatecommittee"> Committee </th>
        </tr>
    </thead>
    {% if slots %}
        {% for slot in slots %}
        <tr class="rosterrow" slotid="{{ slot.id }}">
            <td class="edit">
                <div class="delegateoption button delete"></div>
            </td>
            <td class="delegatename">
                {% if slot.delegate %}
                    <input type="text" name="delegatename" value="{{ slot.delegate.name }}" />
                {% else %}
                    <a href="#" class="nodelegate"> Click here to add a delegate.</span>
                {% endif %}
            </td>
            <td class="delegateemail">
                {% if slot.delegate %}
                    <input type="text" name="delegateemail" value="{{ slot.delegate.email }}" />
                {% endif %}
            </td>
            <td class="delegatecountry">
                {{ slot.assignment.country }}
            </td>
            <td class="delegatecommittee">
                {{ slot.assignment.committee }}
            </td>
        </tr>
        {% endfor %}
    {% endif %}
</table>
</div>
<div class="tablemenu footer">
    Don't forget to <input class="saved button" type="submit" value="SAVE!" />
</div>
</form>
{% endblock content %}
