{% extends "admin/change_list.html" %}

{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% block object-tools %}
  {% if has_add_permission %}
    <ul class="object-tools">
      {% block object-tools-items %}
        <li>
          <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
          </a>
        </li>
        <li>
          <a href="{% url cl.opts|admin_urlname:'roster' %}">
            Download Roster
          </a>
        </li>
        <!-- <li>
          <a href="{% url cl.opts|admin_urlname:'create_accounts' %}">
            Create Accounts
          </a>
        </li> -->
        <!-- <li>
          <a href="{% url cl.opts|admin_urlname:'roster' %}">
            Update Sheets
          </a>
        </li> -->
      {% endblock %}
    </ul>
  {% endif %}
  {{ block.super }}
  <form action="{% url cl.opts|admin_urlname:'load' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    Import Delegates
    <input type="file" name="csv" />
    <input type="submit" />
  </form>
  <!-- <form action="{% url cl.opts|admin_urlname:'confirm_waivers' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    Add Waiver Confirmations
    <input type="file" name="csv" />
    <input type="submit" />
  </form> -->
{% endblock %}
