{% extends "base_index.html" %}

{% block title %} View Rosters {% endblock title %}

{% block content %}
<h2>View Rosters</h2>

<p>Here, you can view the roster for all schools registered for BMUN. </p>
 <form id="theRoster" method="post" action="{% url 'advisor_roster' %}">
{% csrf_token %}
<div class="tablemenu header">
    <select>
    	<option>Select a School</option>
    	{% for school in schools %}
    		<option value={{school.id}} {% if school.id == sid %} selected="true" {% endif %}>{{ school.name }}</option>
    	{% endfor %}
    </select>
</div>
<div id="rostercontainer">
<table id="roster">
    <thead>
        <tr>
            <th></th>
            <th class="delegatename"> Delegate Name </th>
            <th class="delegateemail"> Delegate Email </th>
            <th class="delegatecountry"> Country/Position </th>
            <th class="delegatecommittee"> Committee </th>
        </tr>
    </thead>
    {% if delegates %}
        {% for delegate in delegates %}
        <tr class="rosterrow" slotid="{{ slot.id }}">
            <td class="delegatename">
                {{ delegate.name }}
            </td>
            <td class="delegateemail">
                {{ delegate.email }}
            </td>
            <td class="delegatecountry">
                {{ delegate.delegate_slot.assignment.country }}
            </td>
            <td class="delegatecommittee">
                {{ delegate.delegate_slot.assignment.committee }}
            </td>
        </tr>
        {% endfor %}
    {% endif %}
</table>
</div>
<div class="tablemenu footer">
    <select>
    	<option>Select a School</option>
    	{% for school in schools %}
    		<option value={{school.id}} {% if school.id == sid %} selected="true" {% endif %}>{{ school.name }}</option>
    	{% endfor %}
    </select>
</div>
</form>
{% endblock content %}