{% extends 'base-inner.html' %}

{% block title %} Take Attendance {% endblock title %}

{% block content %}
<h2>Take Attendance</h2>

<p> Here you can take attendance. Simply place checkmarks to indicate attendance and save. </p>

<form id="form-attendance" method="post" action="{% url 'chairs:attendance' %}">
{% csrf_token %}
<div class="tablemenu header">
	Don't forget to <input class="saved button" type="submit" value="SAVE!"/>
</div>
<div id = "attendance">
	<table class = "table">
		<thead>
			<th class="session"> 1 </th>
			<th class="session"> 2 </th>
			<th class="session"> 3 </th>
			<th class="session"> 4 </th>
			<th class="country"> Country </th>
			<th class="name"> Delegate </th>
		</thead>
		<tbody>
			{% for slot in delegate_slots %}
				<tr class="delegateinfo" data-slot-id="{{ slot.id }}">
					<td class="session" style="width:7%" data-session="1">
						<select name="session1">
							<option value=0 {% if slot.attended_session1 == 0 %} selected {% endif %}>Absent</option>
							<option value=1 {% if slot.attended_session1 == 1 %} selected {% endif %}>Present</option>
							<option value=2 {% if slot.attended_session1 == 2 %} selected {% endif %}>Voting</option>
						</select>
					</td>
					<td class="session" style="width:7%" data-session="2">
						<select name="session2">
							<option value=0 {% if slot.attended_session2 == 0 %} selected {% endif %}>Absent</option>
							<option value=1 {% if slot.attended_session2 == 1 %} selected {% endif %}>Present</option>
							<option value=2 {% if slot.attended_session2 == 2 %} selected {% endif %}>Voting</option>
						</select>
					</td>
					<td class="session" style="width:7%" data-session="3">
						<select name="session3">
							<option value=0 {% if slot.attended_session3 == 0 %} selected {% endif %}>Absent</option>
							<option value=1 {% if slot.attended_session3 == 1 %} selected {% endif %}>Present</option>
							<option value=2 {% if slot.attended_session3 == 2 %} selected {% endif %}>Voting</option>
						</select>
					</td>
					<td class="session" style="width:7%" data-session="4">
						<select name="session4">
							<option value=0 {% if slot.attended_session4 == 0 %} selected {% endif %}>Absent</option>
							<option value=1 {% if slot.attended_session4 == 1 %} selected {% endif %}>Present</option>
							<option value=2 {% if slot.attended_session4 == 2 %} selected {% endif %}>Voting</option>
						</select>
					</td>
					<td class="country" style="width:36%">{{ slot.assignment.country }}</td>
					<td class="name" style="width:36%">
						{% if slot.delegate.name %}
							{{ slot.delegate }}
						{% else %}
							N/A
						{% endif %}
					</td>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="tablemenu footer">
	Don't forget to <input class="saved button" type="submit" value="SAVE!"/>
</div>
</form>
{% endblock content %}
