{% extends 'base-inner.html' %}

{% block title %} Take Attendance {% endblock title %}

{% block content %}
<h2>Take Attendance</h2>

<p> Here you can take attendance. Simply place checkmarks to indicate attendance and save. </p>

<form id="form-attendance" method="post" action="{% url 'chairs:attendance' %}">
{% csrf_token %}
<div class="tablemenu header">
	Don't forget to <input class="saved button" type="submit" value="SAVE!"/>
</div>
<div id = "div-attendance">
	<table class = "table-attendance">
		<thead>
			<th class="session"> 1 </th>
			<th class="session"> 2 </th>
			<th class="session"> 3 </th>
			<th class="session"> 4 </th>
			<th class="country"> Country </th>
			<th class="name"> Delegate </th>
		</thead>
		<tbody>
			{% for slot in delegate_slots %}
				<tr class="delegateinfo" data-slot-id="{{ slot.id }}">
					<td class="session" data-session="1">
						<input type="checkbox" name="session1" {% if slot.attended_session1 %} checked="true" {% endif %}></input>
					</td>
					<td class="session" data-session="2">
						<input type="checkbox" name="session2"{% if slot.attended_session2 %} checked="true" {% endif %}></input>
					</td>
					<td class="session" data-session="3">
						<input type="checkbox" name="session3"{% if slot.attended_session3 %} checked="true" {% endif %}></input>
					</td>
					<td class="session" data-session="4">
						<input type="checkbox" name="session4"{% if slot.attended_session4 %} checked="true" {% endif %}></input>
					</td>
					<td class="country">{{ slot.assignment.country }}</td>
					<td class="name">
						{% if slot.delegate %}
							{{ slot.delegate }}
						{% else %}
							Delegate Unregistered
						{% endif %}
					</td>
			{% endfor %}
		</tbody>
	</table>
</div>	
<div class="tablemenu footer">
	Don't forget to <input class="saved button" type="submit" value="SAVE!"/>
</div>
</form>    
{% endblock content %}
