{% extends "base_auth.html" %}

{% block title %} Forgot your Huxley Password? {% endblock title %}

{% block content %}
	<div class="block left">
		<h2>Forgot your Password?</h2>
		<p>No problem. Just enter your username and/or your email to the right, and we'll send a reset password to the email account you registered with.</p>
		<div id="errorcontainer">
			<form>
			
			{% for error in form.errors.all %}
				<label class="error"> {{ error|escape }} </label>
			{% endfor %}
			
			</form>
		</div>
	</div>
	<div class="block right">
		<form id="forgot-form" class="login-form" action="{% url 'forgot_password' %}" method="post">
			{% csrf_token %}
			<span> {{ form.username.label }} </span> {{ form.username }}
			<span> {{ form.email.label}} </span> {{ form.email }}

			<button class="submit" type="submit">Reset!</button>
			<span class="register"> Wrong turn? <a class="nav" href="/login">&larr; Back to login</a></span>
		</form>
	</div>
{% endblock content %}


