{% extends "base_auth.html" %}

{% block title %} Registration Successful! {% endblock title %}

{% block content %}
<h2> Registration Successful! </h2>
<p>Thank you for registering for BMUN 61! Country assignments will be made available on November 5th on our website. A summary of fees is listed below:<p>
<p class="bold">School Registration Fee</p>
<ul>
    <li>$40 (if registered by October 19, 2012)</li>
    <li>$50 (if registered after October 19, 2012)</li>
</ul>

<p class="bold">Delegate Registration Fee</p>
<ul>
    <li>$40 per delegate (by February 11, 2013)</li>
    <li>$50 per delegate (by February 25, 2013)</li>
    <li>$55 per delegate (by February 25, 2013 or paid at conference)</li>
</ul>
<br>
<p>We ask that you compile delegate fees into ONE check - <span class="bold">please do not have your students mail individual checks.</span> Please mail all checks out to:<br>

<p><span class="bold">Berkeley Model United Nations</span><br>
P.O. Box #4306<br>
Berkeley, CA 94704-0306</p>

<p>If you have any questions or concerns, please do not hesitate to contact me at <a href="mailto:info@bmun.net">info@bmun.net</a>. We look forward to seeing you in March!</p>

<p>Sincerely,</p>
<p><span class="bold">Nishita Agarwal</span><br>
Under-Secretary General of External Relations<br>
Berkeley Model United Nations, 61th Session</p>
<br>
<a class="nav" href="/login/"> Proceed to the login page. &rarr; </a>
{% endblock content %}