* { margin: 0px; padding: 0px; }

html { overflow-y: scroll; }

body
{
    background: #000 url(/static/img/unga3.jpg) center top no-repeat fixed;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;

    /* This has to be here because it's used in the change password
     * dropdown. If that changes, move this to content.scss. */
    label.error
    {
        color: #f30;
        font-size: 10px;
        font-weight: 500;
        padding-left: 20px;
        background: url(/static/img/exclamation.png) left center no-repeat;

        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx)
        { 
            background: url(/static/img/exclamation-2x.png) left center no-repeat;
            background-size: 16px 16px;
        }
    }

    .right { float: right; }

    .left { float: left; }
}

#app{ display: none; margin: 0px auto; }
#wrapper{ width: 800px; margin: 0px auto 50px; }

.rounded{ border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; behavior: url(/static/htc/PIE.htc) }
.rounded-small{ border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; behavior: url(/static/htc/PIE.htc) }
.rounded-top{ border-radius: 5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; behavior: url(/static/htc/PIE.htc) }
.rounded-bottom{ border-radius: 0px 0px 5px 5px; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; behavior: url(/static/htc/PIE.htc) }
.bold{font-weight: 700;}
.ie-layout{ zoom: 1; }
