* { margin: 0px; padding: 0px; }

html { overflow-y: scroll; }

body
{
    background: #000 url(/static/img/unga3.jpg) center top no-repeat fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;

    h1 { font-weight: 300; }
}

#app{ display: none; margin: 0px auto; }
#wrapper{ width: 800px; margin: 0px auto 50px; }

.rounded{ border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; behavior: url(/static/htc/PIE.htc) }
.rounded-small{ border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; behavior: url(/static/htc/PIE.htc) }
.rounded-top{ border-radius: 5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; behavior: url(/static/htc/PIE.htc) }
.rounded-bottom{ border-radius: 0px 0px 5px 5px; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; behavior: url(/static/htc/PIE.htc) }
.bold{font-weight: 700;}
.ie-layout{ zoom: 1; }
