/* Content */

label.error
{
    color: #f30;
    font-size: 10px;
    font-weight: 500;
    padding-left: 20px;
    background: url(/static/img/exclamation.png) left center no-repeat;

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx)
    { 
        background: url(/static/img/exclamation-2x.png) left center no-repeat;
        background-size: 16px 16px;
    }
}

.content
{
    width: 740px;
    padding: 15px;
    margin: 0px auto 40px auto;
    background: #eee;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #555;
    text-align: left;
    text-shadow: 0px 1px #fff;
    border-top: 1px solid #fff;

    a
    {
        font-weight: 700;
        text-decoration: none;
        color: #333;

        &:hover { text-decoration: underline; }
    }

    h1
    {
        font-size: 24px;
        font-weight: 300;
        line-height: 26px;
    }

    h2
    {
        font-size: 20px;
        font-weight: 400;
    }

    h3
    {
        font-size: 16px;
        font-weight: 400;
        padding-left: 2px;
    }

    img
    {
        margin-bottom: -1px;
        padding: 0px 2px;
    }

    &.transparent
    {
        -moz-opacity: 0.95; /* Netscape? */
        -khtml-opacity: 0.95; /* Safari 1.x */
        opacity: 0.95; /* Not shitty browsers */
    }

    &.loading
    {
        background-image: url(/static/img/loading3.gif);
        background-repeat: no-repeat;
        background-position: center 30px;
    }
}

.content-outer
{
    width: 300px;
    margin-top: 80px;

    a, p, span, label, h2, h3 { background-color: #eee; } /* Prevents ugliness during fadeout in IE. */

    a
    {
        text-decoration: none;
        color: #333;
        font-weight: 700;

        &:hover { text-shadow: 0px 0px 10px #fff; }
        &:active, &:visited { outline: 0; }
    }

    p
    {
        padding: 5px 0px;
        text-rendering: optimizeLegibility;
        font-smooth:always;
    }

    ul { list-style: none; padding: 0px 10px; }
    li { padding: 5px 0px; }

    label.error { display: block; }

    input[type=text], input[type=password]
    {
        padding: 5px;
        width: 288px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300; 
        color: #666;
        border: 1px solid #ccc;
        
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
        webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
        moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
        
        -webkit-transition: box-shadow linear 0.1s, border linear 0.05s;
        -moz-transition: box-shadow linear 0.1s, background linear 0.05s;
        -ms-transition: box-shadow linear 0.1s, background linear 0.05s;
        -o-transition: box-shadow linear 0.1s, background linear 0.05s;
        transition: box-shadow linear 0.1s, background linear 0.05s;

        &:hover { border-color: #bbb; }
        &:focus { border-color: #aaa; outline: 0; }
    }

    .help-text
    {
        padding: 0 5px;
        font-style: italic;
        color: #bbb;
    }

    .logo
    {
        padding-top: 202px;
        background: url(/static/img/logo.png) center top no-repeat;
        text-align: center;

        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx)
        { 
            background: url(/static/img/logo-2x.png) center top no-repeat;
            background-size: 200px 202px;
        }
    }

    hr
    {
        width: 328px;
        margin: 15px 0 15px -15px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}
