#error-overlay {
    background-color: #000;
}

#error-container {
    display: none;
    width: 600px;
    height: 100px;
}

#error-content {
	font-family: "Segoe UI", "Open Sans", "Helvetica Neue" Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #fff;
	text-shadow: 0 0 5px #000;
}