.login-form
{
    input.text
    {
        margin-bottom:10px;
        font-size: 18px;

        border-radius: 3px;
        moz-border-radius: 3px;
        webkit-border-radius: 3px;
    }

    label.error { margin-top: 15px; }
}