#noscriptwrapper
{
	background: #faa;
	margin: 0px auto;
	border-bottom: 1px solid #fbb;
	box-shadow: 0px 0px 3px #fbb;

	#noscript
	{
		width: 520px;
		padding: 10px 0px 10px 80px;
		margin: 0px auto;
		text-align: left;

		h3
		{
			color: #600;
			text-shadow: 0px 1px #fcc;
			font-size: 14px;
		}
	}
}
