/* Registration Form */

#registration
{
    fieldset
    {
        margin: 20px auto;
        padding: 9px;
        border: 1px solid #bbb;
        border-radius: 3px;
        moz-border-radius: 3px;
        webkit-border-radius: 3px;

        input[type=text], input[type=password]
        {
            font-size: 14px;
            font-weight: 500;
            border-radius: 2px; 
            moz-border-radius: 2px;
            webkit-border-radius: 2px;
            padding: 5px;
            &:focus
            {
                border-color:#abc;
                background: #f0f9ff;
                box-shadow: inset 0 1px 5px rgba(0, 85, 255, 0.15);
                webkit-box-shadow: inset 0 1px 5px rgba(0, 85, 255, 0.15);
                moz-box-shadow: inset 0 1px 5px rgba(0, 85, 255, 0.15);
            }
        }

        legend
        {
            font-size: 14px;
            font-weight: 700;
            padding: 0px 5px;
            background: #eee;  
        }

        ul
        {
            padding: 0;

            li
            {
                list-style: none;
                padding: 5px 0px;

                input[type=radio], input[type=checkbox] { margin-right: 5px; }

                select
                {
                    width: 250px;
                    margin-left: 3px;
                }
            }
        }

        span
        {
            display:block;
            padding: 5px 0px;
        }

        .instructions { font-weight: bold; }

        .block
        {
            float: left;
            margin-right: 10px;
            &:last-child { margin-right: 0; float: right;}

            input.full { width: 548px; }
            input.half { width: 263px; }
            input.third { width: 168px; }
        }
    }

    .showhide { display: none; }
}