#attendance
{
	th { color: #222; }

	.name
	{
		text-align: center;
		width: 100%;
	}

	.session { text-align: center; }

	.country { padding: 0 10px; text-align: center; }


	input { margin: 0px 10px; }
}