#attendance
{
	th { color: #222; }

	.name
	{
		text-align: center;

	}

	.session { text-align: center; }

	.country { padding: 0 10px; text-align: center; }

	.committee { text-align: center; }

	input { margin: 0px 10px; }
}