{% extends "admin/change_list.html" %}

{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% block object-tools %}
  {% if has_add_permission %}
    <ul class="object-tools">
      {% block object-tools-items %}
        <li>
          <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
          </a>
        </li>
        <li>
          <a href="{% url cl.opts|admin_urlname:'list' %}">
            Download Assignment List
          </a>
        </li>
        <li>
          <a href="{% url cl.opts|admin_urlname:'sheets' %}">
            Update Sheets
          </a>
        </li>
      {% endblock %}
    </ul>
  {% endif %}
  {{ block.super }}
  <form action="{% url cl.opts|admin_urlname:'load' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    Import Assignments
    <input type="file" name="csv" />
    <input type="submit" />
  </form>
  Files must be in CSV format: School, Committee, Country, Rejected(True/False)
{% endblock %}
