.banner-wrapper
{
    margin: 0px auto;

    .banner
    {
        width: 580px;
        padding: 10px 0 10px 65px;
        margin: 0px auto;
        text-align: left;
        font-size: 12px;

        h3
        {
            font-size: 21px;
            font-weight: 400;
            margin-bottom: 2px;
        }
    }
}