.button
{
    /* Force image to be downloaded, but make it invisible. */
    background-position: -9999px -9999px;
    background-repeat: no-repeat;
    display: inline-block;
    font: 14px "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400 !important;
    padding: 5px 7px;
    text-align: center;

    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);

    &:hover
    {
        cursor: pointer;
        text-decoration: none;
    }

    &:active
    {
        position: relative;
        top: 1px;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    &:focus
    {
        outline: none;
    }

    &.button-small
    {
        font-size: 12px;
        padding: 3px 6px;
    }

    &.button-large
    {
        font-size: 16px;
        padding: 4 px 7px;
        border: 40px 40px;
    }

    &.loading
    {
        background-position: center center;

        span
        {
            visibility: hidden;
        }
    }

    &.button-blue
    {
        background-color: #39f;
        background-image: url(/static/img/button-loading-blue.gif);
        border: 1px solid #28e;
        color: #fff;
        text-shadow: #28e 0px 1px;

        &:hover, &:focus
        {
            background-color: #40a0ff;
            border-color: #09c;
        }
    }

    &.button-green
    {
        background-color: #0c0;
        background-image: url(/static/img/button-loading-green.gif);
        border: 1px solid #0b0;
        color: #fff;
        text-shadow: #0b0 0px 1px;

        &:hover, &:focus
        {
            background-color: #00d000;
            border-color: #0b0;
        }
    }

    &.button-yellow
    {
        background-color: #dd0;
        border: 1px solid #cc0;
        color: #fff;
        text-shadow: #cc0 0px 1px;

        &:hover, &:focus
        {
            background-color: #e0e000;
            border-color: #cc0;
        }
    }

    &.button-red
    {
        background-color: #c20;
        background-image: url(/static/img/loading.gif);
        border: 1px solid #b10;
        color: #fff;
        text-shadow: #b10 0px 1px;

        &:hover, &:focus
        {
            background-color: #d03000;
            border-color: #c00;
        }
    }

    &.button-checkmark
    {

        position: relative;
        width: 48px;
        padding: 0;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -7px 0 0 -10px;
            height: 5px;
            width: 16px;
            border: solid #fff;
            border-width: 0 0 2.5px 2.5px;
            transform: rotate(-45deg);
        }
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
    .button
    {
        &.button-blue
        {
            background-image: url(/static/img/button-loading-blue-2x.gif);
            background-size: 20px 20px;
        }

        &.button-green
        {
            background-image: url(/static/img/button-loading-green-2x.gif);
            background-size: 20px 20px;
        }
    }
}

/* This is effectively a 10px margin. Elements with display: inline-block
 * by default have a 4px right margin if there's any whitespace after them,
 * including new lines. */
.button + .button
{
    margin-left: 6px;
}
