*
{
    margin: 0px;
    padding: 0px;
}

html
{
    overflow-y: scroll;
}

body
{
    background: #000 url(/static/img/berkeley.jpg) center -165px no-repeat fixed;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;

    .right { float: right; }

    .left { float: left; }
}

a
{
    font-weight: 700;
    text-decoration: none;
    color: #333;

    &[href^="mailto:"] { color: #39f; }

    &:hover { text-decoration: underline; }
}

/* This has to be here because it's used in the change password
 * dropdown. If that changes, move this to content.scss. */
label.error
{
    color: #f30;
    font-size: 10px;
    font-weight: 500;
    padding-left: 20px;
    background: url(/static/img/exclamation.png) left center no-repeat;

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx)
    {
        background: url(/static/img/exclamation-2x.png) left center no-repeat;
        background-size: 16px 16px;
    }
}

.rounded{ border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; }
.rounded-small{ border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; }
.rounded-top{ border-radius: 5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; }
.rounded-bottom{ border-radius: 0px 0px 5px 5px; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; }
