/* Header */

#headerwrapper {
    height: 39px;
    margin: 0px auto 20px auto;
    background: #111;
    border-bottom: 1px solid #222;

    -webkit-animation: dropDown 5s; /* Chrome, Safari, Opera */
    animation: dropDown 5s;
}

@-webkit-keyframes dropDown {
    from {height:0px;}
    to   {height:39px;}
}

@keyframes dropDown {
    from {height:0px;}
    to   {height:39px;}
}

#header {
    font-size: 12px;
    height: 25px;
    min-width:760px;
    margin: 0px auto;
    padding: 7px 15px;
    opacity: 1.0;

    h2 {
        font: {
            size: 10px;
            weight: 500
        }
        color: #666;
        letter-spacing: 12px;
        padding: 5px 0px;
    }

    #left {
        font-size: 13px;
        float: left;
        padding-top: 5px;
        color: #aaa;
    }

    #right {
        float: right;
        color: #fff;
        padding-top: 2px;

        li {
            display: inline;
            padding: 0px 5px;
        }

        #changepassword-link {
            color: #ccc;
            text-decoration: none;
            &:hover { color: #fff; }
        }

        #logout {
            display: inline-block;
            width: 65px;
            height: 13px;
            border: 1px solid #999;
            border-radius: 3px;
            padding: 3px;
            moz-border-radius: 3px;
            color: #003;
            text: {
                shadow: #fff 0px 1px;
                decoration: none;
                align: center;
            }
            &:hover { cursor: pointer; }
        }
    }

    .topbarbutton {
        font-size: 11px;
        font-weight:700;
        border: 1px solid #ccc;
        background: #ddd;

        &:hover {
            background: #fff;
            box-shadow: 0px 0px 3px #aaa;
        }
    }
}
