.table-container
{
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 5px;
    margin: 20px auto;
    padding: 0 15px;

    table
    {
        width: 100%;
        margin: 10px auto 20px auto;
        font-size: 13px;
        border-collapse: collapse;

        th
        {
            color: #222;
        }

        tr
        {
            height: 30px;
            border-bottom: 1px solid #ddd;
        }
    }

    .empty
    {
        margin-bottom: 20px;
        text-align: center;
    }

    .text-input
    {
        font-size: 13px;
    }
}
