.table-container
{
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 5px;
    margin: 20px auto;
    width: 740px;
}

.table
{
    width: 700px;
    margin: 10px auto 20px auto;
    font-size: 13px;
    font-weight: 400;
    border-collapse: collapse;
    background: #eee;

    thead
    {
        font-size: 13px;

        th
        {
            text-align:left;
            color: #222;
        }
    }

    tr
    {
        height:28px;
        padding: 0px;
        border-bottom: 1px solid #ddd;
    }

    input[type=text]
    {
        border: none;
        border-radius: 3px;
        background: #fff;
        margin: 0px;
        font-family: "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 13px;
        color: #111;
        text-shadow: 0px 1px #fff;
        margin: 0;
        padding: 1px 5px 2px;
        width: 200px;
    }

    td.field
    {
        width: 375px;
    }
}
